extends ../layout.pug

block append  styles
  link(rel="stylesheet" type="text/css" href="/css/createCompany.css")

block content

  div(class="companyForm w-80 mt-4") 
    h1(class="w-50 mx-auto text-center") Create company
    form(class="w-50 mx-auto" id="company" method="post"  action="http://localhost:3000/company/create")
      div(class="my-4 company-name")
        input(
          type="text"
          class="form-control"
          placeholder="Name"
          id="companyName"
          name="name"
        )
        small(class="success text-danger") 
      if nameExits
        div This name is already exits.


      div(class="mb-4")
        input(
          type="text"
          class="form-control"
          placeholder="Phone"
          id="companyPhone"
          name="phone"
        )
        small(class="success text-danger")
      div(class="my-4")
        input(
          type="text"
          class="form-control"
          placeholder="Email"
          id="companyEmail"
          name="email"
        )
        small(class="success text-danger")
      button(type="submit" id="createCompany" class="btn btn-primary w-100") Create


block append scriptsbottom
  script(type="module" src="/js/createCompany.js")
